<div class="auth-user">
{{email-input email=credentials.email}}
{{password-input password=credentials.password}}
</div>

<div class="row">
<span{{action "reset"}} class="col-md-3 col-md-offset-3">{{#link-to "application"}}<a><br>
    Cancel</a>{{/link-to}}</span>

<span{{action "submit"}} class="col-md-3"><a><br>
  Sign In </a></span>
</div>
