<label for="workouts"> Workout Category</label>
{{!-- <select name="workouts">
  <option value="cardio">Cardio</option>
  <option value="class" >Class</option>
  <option value="warm-up">Warm Up Sequence</option>
  <option value="cooldown">cooldown Sequence</option>
  <option value="strength">Circuit Sequence</option>
  <option value="routine">Sequence</option>
</select> --}}
