<div class="form-group">
  <label for="workouts">Workout Title</label>
  <select name="workouts">
    <option value= "--select a category"></option>
    <option value="cardio">Cardio</option>
    <option value="class" >Class</option>
    <option value="warm-up">Warm Up Sequence</option>
    <option value="cooldown">cooldown Sequence</option>
    <option value="strength">Circuit Sequence</option>
    <option value="routine">Sequence</option>
  </select>
</div>

{{description-input description=exercise.description}}
{{duration-input duration=exercise.duration}}

<button type="submit" class="btn btn-primary" {{action 'submit'}}>
  Create Exercise
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
