<div class="change-actions">
<form {{action "changeAction" on="submit"}}>
  {{input value=profile.location placeholder="Update Where you reside" type="text" cols=25 rows=10}}
</form>
<hr>
<button {{action 'delete'}}>delete</button>
</div>
